title{
    color: brown;
}

strong
{
    text-align: center;
    display: table;
    margin: auto;
    color: burlywood;
    background-color: rgba(165, 42, 42, 0.658);

}
#icon
{
    text-align: center;
    margin: auto;
}


h1{
background-color: rgb(0, 128, 107);
color: black;
text-align: center;
background-position: center;
background-size: contain;
display: table;
margin: auto;

}
#topo{
    width:100%;
    height:120px;
    border:1px solid rgb(126, 146, 9);
    background-color:#be1640;
    color:#ffffff ;
    text-transform: uppercase;

}
#body
{
    border: 3px solid rgb(114, 250, 216);
    background-color: aliceblue;
    height: 10000px;
}
#body ul
{
    text-align: center;
    margin: auto;
}
#body ul li 
{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    background-position: center;
    margin: auto;
    position: relative ;
    text-align: center;
    margin: auto;
}
#body ul li a
{
    color: rgb(4, 252, 190);
    text-align: center;
    margin: auto;
}
#body ul li a:hover
{
    color: white;
    background-color: rgb(6, 252, 190);
    text-align: center;
    margin: auto;
    
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
#body strong em
{
    color: rgb(243, 144, 16);
    background-color: chartreuse;
}
#search
{
    text-align:right ;
}
#Text
{
    margin: auto;
    text-align:center;
}
#coin-slider
{
    position: relative;
    text-align: center;
    background-position: center;
    background-color: #1673be;
    margin: auto;

}