body
{
    background-image: url(Stormtroopers-A-New-Hope-1.png);
    background-color: azure;
}
h1
{
    background-color:rgba(0, 0, 0, 0.705) ;
    color:rgb(255, 8, 8) ;
    text-align: center;
    background-position: center;
    background-size: contain;
    display: table;
    margin: auto ;
}
ul{
    background-color: black;
    margin: 0 32px 0 0 ;
    display: table;
    background-position: center;
    color: aliceblue;
}
ul li
{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}
ul li a
{
    color: white;
}
em
{
    background-color: black;
    color: white;
}
strong
{
    background-color: black;
    color: white;
}
ul li a:hover
{
    color: rgba(255, 0, 0, 0.582);
    background-color: rgba(255, 255, 255, 0.568);
}









