title{
    color: brown;
}
h1{
background-color: purple;
color: black;
text-align: center;
background-position: center;
background-size: contain;
display: table;
margin: auto;

}
#topo{
    width:100%;
    height:120px;
    border:1px solid green;
    background-color:#1673be;
    color:#ffffff ;
    text-transform: uppercase;

}
#body
{
    border: 3px solid salmon;
    height: 10000px;
}
#body ul li 
{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
   
    margin: auto;
    position: relative ;
}
#body ul li a
{

    left: inherit;
    color: salmon;
    text-align: center;
    margin: auto;
    background-position: center;
}
#body ul li a:hover
{
    color: white;
    background-color: salmon;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
#coin-slider
{
    position: relative;
    text-align: center;
    background-position: center;
    background-color: #1673be;
    margin: auto;

}