body
{
    background-image: url(corinthian.jpg);
    background-color: rgb(241, 255, 209);
}
h1
{
    background-color:rgb(201, 26, 26) ;
    color:rgba(251, 255, 8, 0.404) ;
    text-align: center;
    background-position: center;
    background-size: contain;
    display: table;
    margin: auto ;
}
ul{
    background-color: black;
    margin: 0 32px 0 0 ;
    display: table;
    background-position: center;
    color: rgba(240, 248, 255, 0.507);
    text-align: center;
    margin: auto;
}
ul li
{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}
ul li a
{
    color: rgba(248, 234, 152, 0.603);
}
em
{
    background-color: rgb(250, 4, 4);
    color: rgba(255, 255, 255, 0.404);
}
strong
{
    background-color: rgba(250, 2, 2, 0.336);
    color: rgb(255, 255, 255);
}
a:hover
{
    color: red;
    background-color: white;
}
#Text
{
    margin: auto;
    text-align:center;
}