title{
    color: brown;
}
body
{
    font-size: 1/5cm;
    background-color: rgb(197, 5, 255);
    background-image: url('csh.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
h1{
background-color: purple;
color: black;
text-align: center;
background-position: center;
background-size: contain;
display: table;
margin: auto;

}
em
{
    color: aliceblue;
    background-color: #1673be;
}
strong
{
    color: aliceblue;
    background-color: #1673be;
}
strong:hover
{
    color: salmon;
    background-color: black;
}
em:hover
{
    color: salmon;
    background-color: black;
}
#topo{
    width:100%;
    height:120px;
    border:1px solid green;
    background-color:#1673be;
    color:#ffffff ;
    text-transform: uppercase;
    text-align: center;

}
#body
{
    border: 3px solid salmon;
    height: 10000px;
    text-align: center;
}
#body ul li 
{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    margin: auto;
    
}
#body ul li a
{

    left: inherit;
    color: salmon;
    text-align: center;
    margin: auto;
    background-position: center;
}
#body ul li a:hover
{
    color: white;
    background-color: salmon;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
#coin-slider
{
    position: relative;
    text-align: center;
    background-position: center;
    background-color: #1673be;
    margin: auto;

}
#text1
{
    font-size:25px;
    text-align: center; 
    color: aliceblue; 
    background-color: black; 
    background-size: contain;
    margin: auto;
}
#text1:hover
{
 
    text-align: center; 
    color: salmon; 
    background-color: gold; 
    background-size: contain;
    margin: auto;
}

#text2
{
    text-align:center;
    color: aliceblue;
    background-color: black; 
    background-size: contain;
    display: table;
    margin: auto;
}
#text2:hover
{
    text-align:center;
    color: salmon;
    background-color: gold; 
    background-size: contain;
    display: table;
    margin: auto;
}
#vader
{
    background-color: black;
    color: white;
    border: 5px solid red;
}